@using MyBooks.Web.Themes
@inherits LayoutComponentBase


<MudLayout>

    <!--ToolBar-->
    <MudAppBar Color="Color.Primary" Elevation="1">
        <MudText Typo="Typo.h6">My Books</MudText>
    </MudAppBar>

    <!--Menú lateral-->
    <MudDrawer ClipMode="DrawerClipMode.Never" Open="true" Elevation="1">
        <MyBooks.Web.Components.Navigation.NavMenu/>
    </MudDrawer>

    <!--Contenido principal-->
    <MudMainContent>
        @Body
    </MudMainContent>

</MudLayout>


<MudThemeProvider Theme="@theme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private MudTheme theme = MyTheme.GetTheme(); 
}