@inherits LayoutComponentBase


<div class="flex h-screen">
    <nav class="bg-gray-100 min-w-[190px] p-4 flex flex-col">
        <h2 class="text-xl font-bold mb-4">My Books</h2>

        <ul class="flex flex-col">
            <li>
                <NavLink href="/" class="block p-1 rounded" ActiveClass="bg-gray-200" Match="NavLinkMatch.All" style="font-size: var(--font-sm)">
                    Inicio
                </NavLink>
            </li>
            <li>
                <NavLink href="/input" class="block p-1 rounded" ActiveClass="bg-gray-200" style="font-size: var(--font-sm)">
                    Libros Input
                </NavLink>
            </li>
            <li>
                <NavLink href="/libros" class="block p-1 rounded" ActiveClass="bg-gray-200" style="font-size: var(--font-sm)">
                    Libros
                </NavLink>
            </li>
        </ul>
    </nav>

    <div class="flex-1 flex flex-col">
        <header class="bg-gray-100 p-2 shadow flex items-center justify-between min-h-[40px]">
        </header>
        <main class="flex-1 p-4 bg-white overflow-auto">
            @Body
        </main>
    </div>
    
</div>

@code {

    /*
     * TODO: Agragar colores al tema, agregar botón para ocultar sidebar.
     * Añadir tema al layout.
     */
}


