@page "/input"
@inject HttpClient Http
@using MyBooks.Shared.Dtos
@using MyBooks.Web.ViewModels

<div style="display: flex; gap:16px">
    <MyBooks.Web.Components.InputComponents.FileListContainer>

        <MyBooks.Web.Components.InputComponents.FileList Files=editableFiles />

    </MyBooks.Web.Components.InputComponents.FileListContainer>
    
</div>



@code {
    private List<EditableFileBook>? editableFiles;

    protected override async Task OnInitializedAsync()
    {
        //TODO: crear constante para el endpoint
        var files = await Http.GetFromJsonAsync<List<FileBookDto>>("api/file/input");
        if (files != null){
            editableFiles = MapFileBooktoEditableBook(files);
        }    
    }


    private List<EditableFileBook> MapFileBooktoEditableBook(List<FileBookDto> fileBookList)
    {
        return fileBookList.Select(x => new EditableFileBook
        {
            FileName = x.FileName,
            Title = x.Title,
            Author = x.Author
        }).ToList();
    }

    private void OnTitleChanged(EditableFileBook item, string? value)
    {
        item.Title = value;
        StateHasChanged();
    }

    private void OnAuthorChanged(EditableFileBook item, string? value)
    {
        item.Author = value;
        StateHasChanged();
    }
}
